<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <section id="carousel" class="carousel">
    <ul>
      <li><a class="home" href="/">Home</a></li>
      <li><a href="/restaurant">Restaurants</a></li>
      <li><a href="#map">Map</a></li>
    </ul>
    <p class="find">Find Nearby Restaurants</p>
    <form class="" action="/restaurant" method="GET" autocomplete="on">
      <input class="input" type="text" name="search" placeholder="Search.......">
      <select class="distance" name="distance" onchange="this.form.submit()">
        <option value="">All Restaurants</option>
        <option value="1">Within 1 mile</option>
        <option value="2">Within 2 miles</option>
        <option value="3">Within 3 miles</option>
        <option value="4">Within 4 miles</option>
        <option value="5">Within 5 miles</option>
      </select>
      <input class="submit" type="submit" value="Search">
    </form>
  </section>
  <section class="videoreviews">
    <section class="videotitle" >
      <p class="most">Most Visited Restaurants</p>
    </section>
    <section class="videos">
      <img class="visitedPic" src="img/oasis.jpg" alt="oasis">
      <a href="/detail?id=5">Oasis Veggie Parlor</a>
    </section>
    <section class="videos">
      <img class="visitedPic" src="img/chloe.jpg" alt="chloe's">
      <a href="/detail?id=8">by CHLOE</a>
    </section>
    <section class="videos">
      <img class="visitedPic" src="img/vgalaxy.jpg" alt="veggalaxy">
      <a href="/detail?id=10">Veggie Galaxy</a>
    </section>
  </section>

  <p class="mapTitle">My Google Map</p>
  <section class="mapContainer">
    <section id="map"></section>
  </section>

  <footer>
    <span class="copyright">&copy Copyright Rakim Craig 2018</span>
  </footer>
</body>


<script src="main.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpTgU4d3c7LxDDG92UK5zuwE9YfA4GF04&libraries=places&callback=initMap"async defer></script>
</html>
