<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav class="nav">
      <ul>
        <li><a class="home" href="">Home</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="/restaurant">Restaurants</a></li>
        <li><a href="#map">map</a></li>
      </ul>
    </nav>
    <section class=information>
    <section class="leftInfo">
      <h2>Name</h2>
      <p>address</p>
      <p>hours</p>
      <p>menu</p>
      <p>ShortDescription</p>
    </section>
    <section class="rightInfo">
      <p>My google map will go here</p>
    </section>
  </section>
    <section class="gallery">
      <section class="galleryimg">

      </section>
      <section class="galleryimg">

      </section>
      <section class="galleryimg">

      </section>
    </section>
    <section>
      <p>this will be the review section</p>
    </section>


  </body>
</html>
