box-sizing: border-box;



body{
  margin: 0
}
nav{
  border: 1px solid black;
  width: 100%;
  height: 55px;
  text-align: center;
}

nav ul li{
  display: inline;
}

a{
  color: black;
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
}

.help{
  text-align: center;
  font-size: 25px;
}

.wtf{
  float: left;
  width: 100%;
  height: 300px;
  border: 1px solid black;
}

.information{
  height: 300px;
  width: 100%;
  border: 1px solid black;
  float: left;
}

.leftInfo{
  float: left;
  width: 60%;
  height: 300px;
  border: 1px solid black;
}

rightInfo{
  float: left;
  width: 40%;
  height: 300px;
  border: 1px solid black;

}

.gallery{
  height: 300px;
  width: 100%;
  float: left;
  border: 1px solid black;
}

.galleryimg{
  height: 300px;
  width: 25%;
  float: left;
  border: 1px solid black;
}

.input{
  width: 40%;
  border-radius: 50px;
  height: 49px;
  width: 870px;
  border: 1px solid #dbdbdb;
  padding-left: 10px;
}

.distance{
  width: 100%;
}

.submit {
  background-color: #f91942;
  height: 55px;
  width: 90px;
  border-radius: 50px;
  font-weight: bold;
  color: white;
  border: 0;
}

.carousel{
  border: 1px solid black;

  width: 100%;
  background-image: url("img/maintest9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.carousel p{
  text-align: center;
}

.listing{
  margin-top: 30px;
  float: left;
  height: 300px;
  width: 100%;
  border: 1px solid black;
  clear: both;
}
.listImg{
  width: 35%;
  float: left;
  height: 300px;
}

.listinfo{
  width: 65%;
  float: left;
  height: 300px;
}

.title{
  color: white;
}

#mainimage{
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 400px;
  background-image: url("img/hero.jpg");
}
.videoreviews{
  width: 100%;
  height: 400px;
  border: 1px solid black;
}

.videotitle{
  width: 100%;
  float: left;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 20px;
}

.videos{
  width: 25%;
  float: left;
  height: 300px;
  margin-left: 6%;
  text-align: center;
}

.visitedPic{
  height: 85%;
  width: 100%;
}

footer{
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

.copyright{
  font-size: 20px;
}

#map{
  height: 400px;
  width: 100%;
}
