*{
  box-sizing: border-box;
}
.test{
  width: 100%;
  background-color: #f7f7f7;
  float: left;
}

.test1{
  background-color: #f7f7f7;
  width: 70%;
  float: left;
}

.test2{
  width: 30%;
  float: left;
}


body{
  margin: 0
}

nav{
  width: 100%;
  text-align: center;

}

nav ul li{
  display: inline;
}

nav a{
  color: #444
}
nav a:hover{
  color:#f91942
}

.find{
  font-size: 32px;
  color: white;
}
.searchPortal{
  height: 200px;
  width: 100%;
  float: left;
  text-align: center;
}

.directory{
  text-align: center;
  font-size: 32px;
}

nav a{
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: #0073bb
}

.help{
  text-align: center;
  font-size: 25px;
}



.wtf{
  float: left;
  width: 100%;
  height: 300px;
  border: 1px solid black;
}

.information{
  height: 300px;
  width: 100%;
  float: left;
}

.leftInfo{
  float: left;
  width: 55%;
  height: 300px;
  text-align: center;
  /* background-color: #f7f7f7 */
}

.rightInfo{
  float: left;
  width: 45%;
  height: 300px;
  position: fixed;
  left: 758px;

}

.gallery{
  height: 300px;
  width: 100%;
  float: left;
  border: 1px solid black;
}

.galleryimg{
  height: 300px;
  width: 25%;
  float: left;
  border: 1px solid black;
}

.input{
  border-radius: 50px;
  height: 49px;
  width: 870px;
  border: 1px solid #dbdbdb;
  padding-left: 10px;
  margin-left: 170px;
}

.distance{
  border-radius: 50px;
  height: 49px;
  width: 140px;
  position: relative;
  right: 500px;
}

.searchImg{
  width: 80%;
  height: 157px;
  /* width: 235.891px; */
}

.restTitle{
  margin-bottom: 0px;
}

.submit {
  background-color: #f91942;
  height: 55px;
  width: 90px;
  border-radius: 50px;
  font-weight: bold;
  color: white;
  border: 0;
  position: relative;
  left: 403px;
  bottom: 53px;
}

.carousel{
  border: 1px solid black;
  height: 500px;
  width: 100%;
  background-image: url("img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.carousel p{
  text-align: center;
}

.listing{
  margin-top: 30px;
  float: left;
  height: 300px;
  width: 100%;
  border: 1px solid black;
  clear: both;
}
.listImg{
  width: 35%;
  float: left;
  height: 300px;
}

.listinfo{
  width: 65%;
  float: left;
  height: 300px;
}

.restInfo{
  float: left;
  height: 300px;
  width: 100%;
  border: 1px solid black;
}

.restInfoImg{
  float: left;
  height: 300px;
  width: 30%;
  border: 1px solid black;
}

.restInfoText{
  float: left;
  height: 300px;
  width:70%;
  border: 1px solid black;
}


.title{
  color: white;
}

#mainimage{
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 400px;
  background-image: url("img/hero.jpg");
}

.most{
  font-size: 32px;

}

.restGallery{
  width: 55%;
  /* background-color: #f7f7f7; */
  float: left;
}

.detailImg{
  width: 100%;
}

.topDishes{
  text-align: center;
}

.videoreviews{
  width: 100%;
  height: 400px;
  background-color: #f7f7f7
}

.videotitle{
  width: 100%;
  float: left;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 20px;
}

.videos{
  width: 25%;
   float: left;
   height: 300px;
   margin-left: 6%;
   text-align: center;
   background-color: #f7f7f7
}

.detailPics{
    width: 25%;
    float: left;
    height: 300px;
    margin-left: 4%;
    text-align: center;
  }


.visitedPic{
  height: 85%;
  width: 100%;
}

.review{
  height: 400px;
  width: 100%;
  float: left;
  border: 1px solid black;
}

.comments{
  float: left;
  width: 100%;
}

footer{
  width: 100%;
  text-align: center;
}

.copyright{
  font-size: 20px;
}

.mapTitle{
  text-align: center;
  font-size: 32px;
}

.mapContainer{
  float: left;
  width: 100%;
  height: 400px;
}
#map{
  height: 100%;
  width: 100%;
}
